<header focusOnNavigation class="header-background"
        aria-label="Get started" id="homepage-header">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Calculadoras <br>Online Grátis</h1>
      <h2>Encontre a calculadora ideal para suas necessidades</h2>
    </div>
  </div>
  <app-logo class="homepage-logo">calculate</app-logo>
</header>

<main class="homepage-promo">
  <div class="homepage-row introduction">
    <div class="homepage-row-column">
      <h2>Saúde</h2>
      <p>
        Calculadoras relacionadas à saúde, bem-estar e fitness.
      </p>
      <p>
        Inclui calculadoras para IMC, pace corrida, e muito mais.
      </p>
    </div>
    <div class="homepage-row-column">
      <h2>Finanças</h2>
      <p>
        Calculadoras relacionadas a finanças e investimentos.
      </p>
      <p>
        Inclui calculadoras para juros compostos, salário liquido, e muito mais.
      </p>
    </div>
    <div class="homepage-row-column">
      <h2>Matemática</h2>
      <p>
        Calculadoras relacionadas à matemática e ciências exatas.
      </p>
      <p>
        Inclui calculadoras regra de 3, porcentagem, e muito mais.
      </p>
    </div>
    <div class="homepage-row-column">
      <h2>Conversores</h2>
      <p>
        Calculadoras para conversão de unidades e medidas.
      </p>
      <p>
        Inclui conversores de moeda, temperatura, e muito mais.
      </p>
    </div>
  </div>
</main>
